body{
    background-color:#f6e8e4;
}
input[type="submit"]{
    color: #88990a;
    font-size: 15px;
    height: 23px;
    border-radius: 6px;
}
p{
    font-size: 20px;
}
h3{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:#2F4F4F;
    font-size: 40px;
}